.Error404__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 70px;
}

.Error404__heading, .Error404__home--container{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.Error404__home--container{
    display: flex;
    gap: 10px;
} 

.Error404__home--heading{
    display: flex;
    align-items: center;
}

.Error404__home--button{
    text-decoration: none;
    color: white;
    background-color: rgba(9, 121, 184, 255);
    padding: 5px;
    border-radius: 6px;
    &:hover{
        color: black;
        transition: 0.4s;
    }
}